*{
  margin: 0;
  padding: 0; 
}

.teste{
    resize: 100%;
    width: 440px;
    height: 200px;
    }
h1{
    font-size: 40px;
    color: red;
    }

p:layout p:layoutUnit p:menu p:submenu p:menuitem {

}

p:layout p:layoutUnit p:menu p:submenu p:menuitem {

}

p:layout p:layoutUnit p:menu p:submenu p:menuitem {

}
